[Desktop Entry]
Version=1.0
Type=Application
Name=Luvie
GenericName=MIDI Sequencer
Comment=MIDI pattern sequencer and song editor
Exec=luvie
TryExec=luvie
Icon=luvie
Terminal=false
StartupNotify=false
StartupWMClass=luvie
Categories=AudioVideo;Audio;Sequencer;Midi;
X-NSM-Capable=true
